In [3]:
import pandas as pd
import numpy as np
Cricketer={'Name':['Ms Dhoni','Virat Kohli','Rohit Sharma','Axar Patel','Nilesh Nayak','Hardik Pandya','Suresh Raina','Shikhar Dhawan','Ravi Ashwin','Jasprit Bumrah'],
         'Roll_no':[7,18,45,20,8,33,3,42,99,93],
         'Age':[19,19,18,19,19,19,20,19,19,19],
         'M1':[88,96,85,73,64,np.NaN,54,63,45,99],
         'M2':[98,96,85,73,74,39,64,63,45,99],
         'M3':[88,96,np.NaN,73,64,39,54,63,45,99],
         'M4':[88,96,85,73,64,39,54,63,45,99]}
df=pd.DataFrame(Cricketer)
print(df)

             Name  Roll_no  Age    M1  M2    M3  M4
0        Ms Dhoni        7   19  88.0  98  88.0  88
1     Virat Kohli       18   19  96.0  96  96.0  96
2    Rohit Sharma       45   18  85.0  85   NaN  85
3      Axar Patel       20   19  73.0  73  73.0  73
4    Nilesh Nayak        8   19  64.0  74  64.0  64
5   Hardik Pandya       33   19   NaN  39  39.0  39
6    Suresh Raina        3   20  54.0  64  54.0  54
7  Shikhar Dhawan       42   19  63.0  63  63.0  63
8     Ravi Ashwin       99   19  45.0  45  45.0  45
9  Jasprit Bumrah       93   19  99.0  99  99.0  99

In [4]:
df.dropna()

             Name  Roll_no  Age    M1  M2    M3  M4
0        Ms Dhoni        7   19  88.0  98  88.0  88
1     Virat Kohli       18   19  96.0  96  96.0  96
3      Axar Patel       20   19  73.0  73  73.0  73
4    Nilesh Nayak        8   19  64.0  74  64.0  64
6    Suresh Raina        3   20  54.0  64  54.0  54
7  Shikhar Dhawan       42   19  63.0  63  63.0  63
8     Ravi Ashwin       99   19  45.0  45  45.0  45
9  Jasprit Bumrah       93   19  99.0  99  99.0  99

In [6]:
import pandas as pd
import numpy as np
Cricketer={'Name':['Ms Dhoni','Virat Kohli','Rohit Sharma','Axar Patel','Nilesh Nayak','Hardik Pandya','Suresh Raina','Shikhar Dhawan','Ravi Ashwin','Jasprit Bumrah'],
         'Roll_no':[7,18,45,20,8,33,3,42,99,93],
         'Age':[19,19,18,19,19,19,20,19,19,19],
         'M1':[88,96,85,73,64,np.NaN,54,63,45,99],
         'M2':[98,96,85,73,74,39,64,63,45,99],
         'M3':[88,96,np.NaN,73,64,39,54,63,45,99],
         'M4':[88,96,85,73,64,39,54,63,45,99]}
df=pd.DataFrame(Cricketer)
print(df)

             Name  Roll_no  Age    M1  M2    M3  M4
0        Ms Dhoni        7   19  88.0  98  88.0  88
1     Virat Kohli       18   19  96.0  96  96.0  96
2    Rohit Sharma       45   18  85.0  85   NaN  85
3      Axar Patel       20   19  73.0  73  73.0  73
4    Nilesh Nayak        8   19  64.0  74  64.0  64
5   Hardik Pandya       33   19   NaN  39  39.0  39
6    Suresh Raina        3   20  54.0  64  54.0  54
7  Shikhar Dhawan       42   19  63.0  63  63.0  63
8     Ravi Ashwin       99   19  45.0  45  45.0  45
9  Jasprit Bumrah       93   19  99.0  99  99.0  99

In [7]:
df.fillna(999)

             Name  Roll_no  Age     M1  M2     M3  M4
0        Ms Dhoni        7   19   88.0  98   88.0  88
1     Virat Kohli       18   19   96.0  96   96.0  96
2    Rohit Sharma       45   18   85.0  85  999.0  85
3      Axar Patel       20   19   73.0  73   73.0  73
4    Nilesh Nayak        8   19   64.0  74   64.0  64
5   Hardik Pandya       33   19  999.0  39   39.0  39
6    Suresh Raina        3   20   54.0  64   54.0  54
7  Shikhar Dhawan       42   19   63.0  63   63.0  63
8     Ravi Ashwin       99   19   45.0  45   45.0  45
9  Jasprit Bumrah       93   19   99.0  99   99.0  99

In [8]:
df["M1"].fillna(88)

0    88.0
1    96.0
2    85.0
3    73.0
4    64.0
5    88.0
6    54.0
7    63.0
8    45.0
9    99.0
Name: M1, dtype: float64

In [9]:
x=df["M3"].mean()
df["M3"].fillna(x)

0    88.0
1    96.0
2    69.0
3    73.0
4    64.0
5    39.0
6    54.0
7    63.0
8    45.0
9    99.0
Name: M3, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
Cricketer={'Name':['Ms Dhoni','Virat Kohli','Rohit Sharma','Axar Patel','Nilesh Nayak','Hardik Pandya','Suresh Raina','Shikhar Dhawan','Ravi Ashwin','Jasprit Bumrah'],
         'Roll_no':[7,18,45,20,8,33,3,42,99,93],
         'Age':[19,19,18,19,19,19,20,19,19,19],
         'M1':[88,96,85,73,64,np.NaN,54,63,45,99],
         'M2':[98,96,85,73,74,39,64,63,45,99],
         'M3':[88,96,np.NaN,73,64,39,54,63,45,99],
         'M4':[88,96,85,73,64,39,54,63,45,99]}
df=pd.DataFrame(Cricketer)
print(df)

In [10]:
y=df["M1"].median()
df["M1"].fillna(y)

0    88.0
1    96.0
2    85.0
3    73.0
4    64.0
5    73.0
6    54.0
7    63.0
8    45.0
9    99.0
Name: M1, dtype: float64

In [11]:
df.loc[5,'M3']=7896
df['M3']

0      88.0
1      96.0
2       NaN
3      73.0
4      64.0
5    7896.0
6      54.0
7      63.0
8      45.0
9      99.0
Name: M3, dtype: float64

In [12]:
for x in df.index:
    if df.loc[x,'M3']<100:
        df.drop(x,inplace=True)
print(df['M3'])

2       NaN
5    7896.0
Name: M3, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
Cricketer={'Name':['Ms Dhoni','Virat Kohli','Rohit Sharma','Axar Patel','Nilesh Nayak','Hardik Pandya','Suresh Raina','Shikhar Dhawan','Ravi Ashwin','Jasprit Bumrah'],
         'Roll_no':[7,18,45,20,8,33,3,42,99,93],
         'Age':[19,19,18,19,19,19,20,19,19,19],
         'M1':[88,96,85,73,64,np.NaN,54,63,45,99],
         'M2':[98,96,85,73,74,39,64,63,45,99],
         'M3':[88,96,np.NaN,73,64,39,54,63,45,99],
         'M4':[88,96,85,73,64,39,54,63,45,99]}
df=pd.DataFrame(Cricketer)

In [13]:
for x in df.index:
    if df.loc[x,'M3']>100:
        df.drop(x,inplace=True)
print(df['M3'])

2   NaN
Name: M3, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
Cricketer={'Name':['Ms Dhoni','Virat Kohli','Rohit Sharma','Axar Patel','Nilesh Nayak','Hardik Pandya','Suresh Raina','Shikhar Dhawan','Ravi Ashwin','Jasprit Bumrah'],
         'Roll_no':[7,18,45,20,8,33,3,42,99,93],
         'Age':[19,19,18,19,19,19,20,19,19,19],
         'M1':[88,96,85,73,64,np.NaN,54,63,45,99],
         'M2':[98,96,85,73,74,39,64,63,45,99],
         'M3':[88,96,np.NaN,73,64,39,54,63,45,99],
         'M4':[88,96,85,73,64,39,54,63,45,99]}
df=pd.DataFrame(Cricketer)

In [14]:
df[['M1','M2','M3']].corr()

    M1  M2  M3
M1 NaN NaN NaN
M2 NaN NaN NaN
M3 NaN NaN NaN